<% autocomplete_events.each do |event| %>
  <li class="search-result">
  <%= render event %>
  </li>
<% end %>
<% autocomplete_users.each do |auser| %>
  <li class="search-result">
  <%= render auser %>
  </li>
<% end %>
<% autocomplete_places.each do |place| %>
  <li class="search-result">
  <%= render place %>
  </li>
<% end %>
