<% if autocomplete_events.any? %>
  <li class="autocomplete-separator">Events:</li>
  <% autocomplete_events.each do |event| %>
    <li class="search-result">
    <%= render event %>
    </li>
  <% end %>
<% end %>
<% if autocomplete_users.any? %>
  <li class="autocomplete-separator">Users:</li>
  <% autocomplete_users.each do |user| %>
    <li class="search-result">
    <%= render user %>
    </li>
  <% end %>
<% end %>
<% if autocomplete_places.any? %>
  <li class="autocomplete-separator">Places:</li>
  <% autocomplete_places.each do |place| %>
    <li class="search-result">
    <%= render place %>
    </li>
  <% end %>
<% end %>
