<div class="info-container col-2">

    <strong>Owner:</strong>
    <%= render @place.owner %> <br>
    <div class="text"><%= @place.description %></div><br>
    <strong>Address:</strong>
    <div><%= @place.address %></div>
</div>

<div class="info-container col-2">
  <h3>Events</h3>
  <% @place.events.each do |event| %>
    <%= render event %>
  <% end %>
</div>
