<h1 class="center-align">Editing <%= link_to @place.name, @place %></h1>

<%= render 'form' %>

<div class="form center">
  <fieldset class="borders">
    <legend>Delete place</legend>
    <div class="contents">
      <div class="field">
        <%= button_to 'Delete place', @place, method: :delete, data: { confirm: 'Are you sure?' }, class: ['button', 'button-del'] %>
      </div>
    </div>
  </fieldset>
</div>