<% # Assumes user as parameter %>
<% if user.comments.count > 0 %>
<div class="borders container normal-container">
  <h3>My last comments</h3>
  <% user.comments.limit(5).each do |com| %>
    <div class="profile-comment">
      <div class="profile-comment-head">
        <%= render partial: com.commentable, locals: {created_at:  com.created_at} %>
      </div>
      <div class="profile-comment-body">
        <%= com.content %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
