<% # Assumes owner as parameter %>
<% if owner.events.count > 0%>
<div>
  <h3>My events</h3>
  <% owner.events.order(date: :desc).each do |event| %>
    <div> <%= link_to event.name, event %> <span class="tiny"> | <%= event.date %></span></div>
  <% end %>
</div>
<% end %>