<% # Assumes owner as parameter %>
<% if owner.places.count > 0%>
<div class="borders container normal-container">
  <h3>My places</h3>
    <% owner.places.each do |place| %>
      <div><%= render place %></div>
    <% end %>
</div>
<% end %>
