<nav class="nav-top">
  <div id="logo-container">
    <%= link_to "kultur.al", root_path, id: "logo" %>
  </div>
  <div class="nav-top-right">
    <% if logged_in? %>
      <%= link_to current_user.name, current_user, id: "username" %>
      <%= link_to "Logout", logout_path, method: "delete", id:"logout"%>
    <% end %>
  </div>
</nav>
