<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <header>
      kultur.al
    </header>
    <%= yield %>
    <p> The kultur.al Team </p>
  </body>
</html>
