<div class="container_center">
  <div class="center group-form">

    <h2 class="center-align">New Group</h2>
    <%= render 'form' %>
    <%= button_to 'Back', groups_path, method: :get, class: 'button-def' %>
  </div>
</div>