<% if reportable.reports.count > 0 %>
  <span style="color:red">
  &nbsp;  &nbsp;
  <%= fa_icon 'flag' %>
  </span>
  <span style="color:black">
  Reported 
  <%= pluralize(reportable.reports.count, 'time') %>
  </span>
<% end %>
