<div class="centered">
  <h3>¿Ya eres miembro de kultur.al?</h3>
  <h1>¡Inicia sesión!</h1>

  <%= render 'form' %>
  <p>¿Eres nuevo en kultur.al? <%= link_to '¡Crea una cuenta!', signup_path %></p>
</div>
