<h1 class="center-align">Listing Comments</h1>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th>User</th>
        <th>Commentable</th>
        <th>Commentable type</th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.user_id %></td>
        <td><%= comment.commentable_id %></td>
        <td><%= comment.commentable_type %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
