@import 'palette';

body {
  background-color: $body-color;
}

#main {
  margin: 75px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clear {
  clear: both;
}
