@import 'palette';
@import 'fonts';

* {
  margin: 0;
}

html, body {
	height: 100%;
}

body {
  background-image: image-url("shared/background1.jpg");
  font-family: $default-font;
}

h1 {
  color: $light-text-color;
}

#main{
  >*{
    margin: auto;
  }

  #sidebar{
    ul{
      list-style: none;

      li{
        padding: 5px 0;
      }
    }
  }
}

.wrapper {
	min-height: 100%;
  width: 1190px;
	margin-top: 75px;
  margin-bottom: -75px; /* negative value of the footer's height */

  margin-left: auto;
  margin-right: auto;
}

.footer, .push {
	height: 75px; /* .push must be the same height as .footer */
  bottom: 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-align {
  text-align: center;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $light-text-color;

  &:visited {
    color: $light-text-color;
  }

  &:hover {
    color: $dark-text-hover-color;
    text-decoration: underline;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 25px;
}

div.contents{
  #error_explanation{
    margin: auto;

    ul{
      list-style-type: none;
    }
  }

  .field_with_errors{
    display: block;
    background-color: initial;
    padding: 4px;

    border-radius: 4px;
    border: 2px solid yellow;
  } 
}

div.field div.form-error{
  font-size: $small;
  color: yellow;
}
