@import 'palette';
@import 'fonts';

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  height: 100%;
  background-image: image-url("shared/background1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font-family: $default-font;
  color: $light-text-color;
  margin: 0;
  padding: 0;
}

#main {
  margin-top: 75px;

  >*{
    margin: auto;
  }

  padding-bottom: 75px;

  &:after {
    content: '';
    display: block;
    clear: both;
    margin-bottom: 25px;
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-align {
  text-align: center;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $light-text-color;

  &:visited {
    color: $light-text-color;
  }

  &:hover {
    color: $light-text-color;
    text-decoration: underline;
  }

  &.hide-button {
    cursor: pointer;
  }
}

dt {
  font-weight: bold;
  margin-bottom: 3px;
}

dd {
  margin-left: 25px;
  margin-bottom: 10px;
}
