@import 'palette';

header {
	.header-user-menu {
		position: relative;
		border-radius:2px;
		line-height:30px;

		ul {
			display: none;
			font:bold 13px monospace;
			list-style: none;
			position: absolute;
			text-align: center;
			width: 100%;

			padding-left: 34px;
			left: 0;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;

			box-sizing: border-box;

			li {
				padding:10px;
				display: block;
				background-color:$dropdown-color;
				border-bottom: 2px solid $dropdown-hover-color;
				&:hover {
					background-color:$dropdown-hover-color;
				}

				a {
					color:$light-text-color;
					font-style: bold;
					text-decoration: none;
				}
			}
		}

		&:hover ul {
			display:block;
		}
	}
}
