@import 'palette';
@import 'fonts';
@import 'flash';

#error-explanation {
  @include flash-box;
  margin: auto;
  background: transparent;
  border: 3px solid yellow;
  color: yellow
}

div.field div.form-error{
  font-size: $small;
  color: yellow;
}
