$default-font: Sans-Serif;
$logo-font: 'Kaushan Script';
$title-font: 'Kaushan Script';
$button-font: 'Arial';
$tiny: 0.7em;
$small: 0.8em;
$normal: 1em;
$medium: 1.5em;

.tiny {
	font-size: $tiny;
}

.small{
  font-size: $small;
}

.normal{
  font-size: $normal;
}

.medium {
	font-size: $medium;
}

.text {
	line-height: 150%;
}
