$default-font: Sans-Serif;
$logo-font: monospace;
$tiny: 0.7em;
$small: 0.8em;
$normal: 1em;
$medium: 1.5em;

.tiny {
	font-size: $tiny;
}

.small{
  font-size: $small;
}

.normal{
  font-size: $normal;
}

.medium {
	font-size: $medium;
}
