@import 'palette';

.fa-map-marker {
  color: #ED3712;
  text-shadow: 1px 1px 1px $dark-alpha-color;
}

.fa-calendar-o {
  color:orange;
  text-shadow: 1px 1px 1px $dark-alpha-color;

}

.fa-users {
  color:#0097c1;
  text-shadow: 1px 1px 1px $dark-alpha-color;

}

.fa-user {
  color: #0097c1;
  text-shadow: 1px 1px 1px $dark-alpha-color;

}

.fa-tags {
  color: #ffc23f;
  text-shadow: 1px 1px 1px $dark-alpha-color;

}

.fa-usd {
  color: green;
  text-shadow: 1px 1px 1px $dark-alpha-color;

}

.fa-calendar {
  color: Tomato;
  text-shadow: 1px 1px 1px $dark-alpha-color;
}

.fa-sign-out {
  color: red;
  text-shadow: 1px 1px 1px $dark-alpha-color;
}

.fa-cogs {
  color: lightgrey;
  text-shadow: 1px 1px 1px $dark-alpha-color;
}

.fa-unlock-alt {
  color: gold;
  text-shadow: 1px 1px 1px $dark-alpha-color;
}
