@import 'shared/palette';
@import 'shared/borders';

.form {
  position: relative;
  width: 50%;
  padding: 10px;
  margin: 0px auto;

  fieldset {
    color: $light-text-color;
    background-color: $dark-alpha-color;
  }

  legend {
    color: Black;
    font-weight: bold;
    font-size: 18px;
  }

  .field, .actions {
    width: 75%;
    margin: 10px auto;
  }

  input[type="text"], input[type="submit"], textarea {
    width: 100%;
  }

  .tag-table {
    display: table;
    margin: auto;

    .tag-row {
      display: table-row;

      .tag-cell {
        display: table-cell;
      }
    }
  }
}
