@import 'palette';
@import 'fonts';

header {
  z-index: 9;
  position: fixed;
  display: block;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 10px;
  padding-right: 50px;
  color: $light-text-color;
  background-color: $header-color;

  .header-left {
    float: left;
  }

  .header-right {
    margin-top: 5px;
    margin-right: 50px;
    float: right;
  }
}

#logo {
  float: left;
  font-family: $logo-font;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: $logo-text-color;
  vertical-align: middle;
}

#profile-img {
  float: left;
  vertical-align: middle;
  border: 2px solid white;
  border-radius: 50%;
  height: 35px;
}

#username {
  display: inline-block;
  padding-left: 10px;
}
