@import 'palette';

.button {
  display: inline-block;
  border: 0px;
  border-radius: 5px;
  font: bold 15px monospace;
  text-transform: uppercase;
  padding: 2px 10px;
  margin: 5px;

  color: white;
}

.button-def {
  @extend .button;
  background-color: $button-color;
  &:hover {
    background-color: $button-hover-color;
  }
}

.button-del {
  @extend .button;
  background-color: $button-del-color;
  &:hover {
    background-color: $button-del-hover-color;
  }
}

.floated-left {
  float: left;
  margin-right: 5px;
}

.floated-right {
  float: right;
  margin-left: 5px;
}

.big-rectangle textarea {
  width: 95%;
  height: 95%;
}
