@import 'palette';
@import 'fonts';
.button {
  display: inline-block;
  border: 0px;
  border-radius: 5px;
  font: bold 15px $button-font;
  padding: 2px 10px;
  color: $light-text-color;
}

.button-def {
  @extend .button;
  background-color: $button-color;
  &:hover {
    background-color: $button-hover-color;
  }
}

.button-del {
  @extend .button;
  background-color: $button-del-color;
  &:hover {
    background-color: $button-del-hover-color;
  }
}
