@import 'palette';

#login_form {
  text-align: center;
  padding: 50px 0 0 0px;
  width: 350px;
  height:200px;
  border: 2px solid $border-color;
  border-width: 5px;
  border-radius: 10px;
  position: relative;

  h2 {
    margin-top:-30px;
    margin-left:25px;
  	font-size:20px;
  	font-weight:bold;
  	font-family:monospace;
  	text-transform:uppercase;
  	position:absolute;
    color: $dark-text-color;
  }
}

.mail_input {
  margin-left:20px;
	position:absolute;
	width:300;
	height:50px;
	margin-top:10px;
}

.pass_input {
  margin-left:20px;
	position:absolute;
	width:300;
	height:50px;
	margin-top:70px;
}

.login_field {
  display:block;
	width:276px;
	height:45px;
	//background:transparent;
  border: 2px solid $border-color;

	font-family: monospace;
	font-size:14px;
	padding-left:30px;
}

#mail_img {
  position:absolute;
	display:block;
	margin-top:-30px;
	float:left;
  margin-left:8px;
}

#pass_img {
  display:block;
	position:absolute;
	margin-top:-34px;
	float:left;
	margin-left:12px;
}

#login_submit {
	position:relative;
	margin-top:130px;
	width:310px;
	height:40px;
	border:0;
  border-radius:5px;
  font-weight:bold;
  font-family:monospace;
  font-size:15px;
  text-transform:uppercase;

  color: white;
  background-color: $button-color;
  &:hover {
    background-color: $button-hover-color;
  }
}

#sign_up {
  color:$dark-text-color;
  text-decoration:none;
  font-weight:bold;
  font-family:monospace;
  font-size:15px;
  float:right;
  margin-right:20px;
  margin-top:5px;
  &:hover {
    color:$dark-text-hover-color;
  }
}
