//http://www.colourlovers.com/palette/785323/Beautiful_Freak

$logo-text-color: #E9E9E9;
$header-color: rgba(0, 102, 102, 0.8);
$body-color: #F5F5F5;
$footer-color: rgba(204, 204, 204, 0.8);
$dark-alpha-color: rgba(21, 21, 21, 0.7);
$border-color: #008584;

$button-color-webkit: -webkit-linear-gradient(90deg, #006666 40%, #008584 70%);
$button-color-moz: -moz-linear-gradient(90deg, #006666 40%, #008584 70%);
$button-hover-color: #008584;
$button-del-color-webkit: -webkit-linear-gradient(90deg, #990100 40%, #B90504 70%);
$button-del-color-moz: -moz-linear-gradient(90deg, #990100 40%, #B90504 70%);
$button-del-hover-color: #B90504;

$dropdown-color: $dark-alpha-color;
$dropdown-separator-color: #006666;
$dropdown-hover-color:#006666;

$dark-text-color: #006666;
$dark-text-hover-color: #008584;

$light-text-color: #F5F5F5;
$medium-text-color: #37A5A5;
