//http://www.colourlovers.com/palette/785323/Beautiful_Freak
$logo-text-color: #E9E9E9;
$body-color: #F5F5F5;
$header-color: #006666;
$footer-color: #CCCCCC;
$border-color: #008584;

$button-color: #006666;
$button-hover-color: #008584;

$dropdown-color:#008584;
$dropdown-hover-color:#006666;

$dark-text-color: #006666;
$dark-text-hover-color: #008584;

$light-text-color: #F5F5F5;
