@import 'shared/palette';

div.profile-show{
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  img{
    background-color: #000;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    height: 2.5em;
    margin-right: 1em;
    border-radius: 5px;
  }
}

div.profile-groups{
  @extend .profile-show;
  padding: 10px 0px;
}

div.profile-forms{
  text-align: center;
  padding-bottom: 10px;
  .join-form, .edit-form, .delete-form, .follow-form, form{
    display: inline;
  }
}

#profile-info{
  background-color: $dark-alpha-color;
  display: block;
  float: left;
  width: 28%;
  margin: 0 1%;


  .profile-about{
    padding: 10px 0;

    table{

      table-layout: fixed;
      width: 100%;
      background-color:rgba(0,0,0,0);

      td:first-child{
        width: 33%;
      }

      td{
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 6px 12px;

      }

    }
  }

  .profile-presentation{
    margin: 10px 0;

    .profile-name-image{
      overflow: auto;

      .profile-img {
        display: block;
        border-radius: 5px;
        background-color: #000;
        margin:0 auto;
      }

      .profile-name-container{
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}

#profile-activity{
  display: block;
  width: 68%;
  margin-left: 375px;

  h3, >*{
    margin-bottom: 0.6em;
  }
  h3 {
    color: $light-text-color;
    text-shadow: 2px 2px 2px $dark-alpha-color;
  }
  >**{
    margin-bottom: 0.3em;
  }

  .profile-comment{

    margin-bottom: 1em;

    .profile-comment-head {
      display:inline;
      span{
        color: $medium-text-color;
      }
    }

    .profile-comment-body{
      color: $light-text-color;
      margin-left: 50px;
    }

  }

}
