@import 'shared/palette';

div.profile-show{
  height: 4em;
  line-height: 4em;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  img{
    background-color: #000;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    height: 2.5em;
    margin-right: 1em;
    border-radius: 5px;
  }
}

div.profile-forms{
  text-align: center;
  padding-bottom: 10px;
  .join-form, .edit-form, .delete-form, .follow-form, form{
    display: inline;
  }
}

#profile-info{
  background-color: $dark-alpha-color;
  display: block;
  float: left;
  width: 28%;
  margin: 0 1%;

  .profile-presentation{
    margin-bottom: 1em;
    >div{
      margin-bottom: 0.5em;
    }

    .profile-name-image{
      overflow: auto;
      margin-top: 0;
      padding: 0;
      position: relative;

      .profile-img {
        display: block;
        border-radius: 5px;
        background-color: #000;
        margin: auto;
      }

      .profile-name-container{
        text-align: center;
      }
    }

    // TO-DO (JOIN STATS)
    .stats{
      text-align: center;

      a{
        padding: 0 0.5em;
        text-decoration: none;

        &:first-child{
          padding-left: 0;
        }
      }
    }
  }
}

#profile-activity{
  display: block;
  width: 68%;
  margin-left: 375px;

  h3, >*{
    margin-bottom: 0.6em;
  }

  >**{
    margin-bottom: 0.3em;
  }

  .profile-comment{

    margin-bottom: 1em;

    .profile-comment-head{

    }

    .profile-comment-body{
      margin-left: 50px;
    }

  }

}
