@import 'palette';

$padding-table: 6px 12px;

div.table-container{
  padding: 10px 0;

  >table{
    width: 100%;
  }
}

table {
  padding: 0;
  margin: auto;
  border-collapse: collapse;

  a, a:visited {
    color: $dark-text-color;
  }
}

table thead th{
  color: $light-text-color;
  background-color: $header-color;
  border-top: 1px solid $light-text-color;

  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: $padding-table;
}

table tr {
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: $light-text-color;
}

table tr td {
  border: 1px solid $header-color;
  text-align: left;
  margin: 0;
  padding: $padding-table;
}
table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}
