@mixin flash-box {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 450px;
}

#notice {
  @include flash-box;
  border: 3px solid green;
  color: green;
}

#alert {
  @include flash-box;
  border: 3px solid red;
  color: red;
}
