<div class="profile-show">
    <%= image_tag 'shared/ajax-loader.gif', class: "user#{user.id}" %>
    <span><%= link_to user.name, user %></span>
</div>

<script>
  user_id = <%= user.id %>;
  $.get("/users/" + user_id + "/ajax_avatar");
</script>
