<h1 class="center-align">Editing <%= link_to "my profile", @user %></h1>

<%= render 'form' %>

<div class="form center">
  <fieldset class="borders">
    <legend>Delete account</legend>
    <div class="contents">
      <div class="field">
        <%= button_to 'Delete my profile', @user, method: :delete, data: { confirm: 'Are you sure? All your groups, events, places, comments, and ratings will be deleted' }, class: ['button', 'button-del'] %>
      </div>
    </div>
  </fieldset>
</div>
