<div class="container_center">
	<div class="center">

		<h2>Editing my profile</h2>

		<%= render 'form' %>

		<div class="user_back_link">
			<%= link_to 'Back to my profile', @user %>
		</div>
	</div>
</div>