<div class="container_center">
	<div class="center">
	  <h2>New user</h2>

	  <%= render 'form' %>

		<div class="user_back_link">
			<%= link_to 'Back to main page', root_path %>
		</div>
	</div>
</div>