<%= form_for [rateable, Rating.new], remote: true do |f| %>
  <div class="field floated-left">
    <%= f.label 'Rate it! (0 - 10): '%>
    <%= f.number_field :value %>
  </div>

  <div class="actions floated-left">
    <%= f.submit 'Submit rating', class: 'button-def' %>
  </div>
<% end %>
