@import 'palette';

body {
  background-color: $body-color;
}

nav {
  position: fixed;
  left: 0px;
  width: 100%;
  color: brown;
  padding: 5px;
}

.nav-top {
  top: 0px;
  border-bottom: 5px solid brown;
  background-color: $header-color;
}

.nav-top-right {
  text-align: right;
  vertical-align: middle;
  padding: 10px;
}

.nav-bottom {
  bottom: 0px;
  border-top: 5px solid brown;
  background-color: $footer-color;
  padding: 10px;
}

#debugger {
  font-size: 0.75em;
}

#main {
  padding: 75px;
}

#logo {
  float: left;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 2em;
  font-weight: bold;
  color: brown;
  padding: 10px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Markdown table CSS */
table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

/* Scaffold messages */
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
}