// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'shared/palette';

.events {
  .statistics {
    font-weight: bold;
    margin-bottom: 25px;
  }


  .event-description {
    font-size: 0.80em;
    padding: 5px 10px;
  }
}
