// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'shared/palette';
@import 'shared/borders';

.events {
  .statistics {
    font-weight: bold;
    margin-bottom: 25px;
  }

  .big-rectangle {
    @include borders;
    width: 100%;
    margin: 5px auto;
    display: table;

    .event-info {
      width: 33%;
      height: 200px;
      vertical-align: top;
      display: table-cell;

      dt {
        font-weight: bold;
      }

      #event-map {
        width:100%;
        height:inherit;
      }
    }

    .event-description {
      font-size: 0.80em;
      padding: 5px 10px;
    }

    
  }
}
