// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'shared/palette';
@import 'shared/borders';

.events {

  a {
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: blue;
    }
  }

  .small-rectangle {
    width: 33%;
    vertical-align: top;
    display: inline-block;

    .event-square {
      @include borders;
      height: 200px;
      margin: 0px auto 10px auto;

      dt {
        font-weight: bold;
      }
    }
  }

  .big-rectangle {
    width: 100%;

    .event-description {
      @include borders;
      font-size: 0.80em;
      clear: both;
      margin-bottom: 10px;
    }

    #comments {
      @include borders;
      margin: 10px auto;

      .user-comment {
        margin: 10px;

        .date {
          font-size: 0.75em;
        }
      }
    }
  }
}
