// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin:0px;
  padding:0px;
}

#map {
  width: 100%;
  height:inherit;
}

.info-window {

  .info-window-events {
    list-style-type: none;

    .info-window-event {

    }
  }
}
