// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'shared/fonts';

@mixin reports{
  text-shadow: 1px 1px 3px black;
}

span#num-reports{
  @include reports;

  i{
    padding-left: 1.25em;
    color: red;
  }
}