// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'shared/palette';
@import 'shared/fonts';

$bar-width: 350px;

#search-bar {
  position: relative;
  float:left;
  padding-left:40px;
  #search-field {
    display:block;
    height:25px;
    width: $bar-width;
  	//background:transparent;
    border: 2px solid $border-color;
    border-radius: 5px;
  	font-family: $default-font;
  	font-size:14px;
  	padding-left:30px;
  }

  #autocomplete {
    top: 20px;
    left: 30px;
    width: 384px;
    li {

    }
    .autocomplete-separator {
      text-align: left;
      padding: 2px 10px;
      font-style:none;
      background-color: $body-color;
      &:hover {
        background-color:$dropdown-color;
      }
    }
  }
}
