// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'shared/palette';

// TO-DO(PROFILE FORMS)
.follow-form{
  text-align: center;
  form{
    color: $light-text-color;

    display: inline;
  }
}

// TO-DO (JOIN STATS)
.stats{
  text-align: center;
  color: $light-text-color;
  a{
    padding: 0 0.5em;
    text-decoration: none;

    &:first-child{
      padding-left: 0;
    }
  }
}

.user-about {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $light-text-color;
  table {

  }
}
