// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'shared/palette';

.follow-form {
  text-align: center;

  form {
    display: inline;
    color: $light-text-color;
  }
}

.stats {
  text-align: center;
  color: $light-text-color;

  .attendance {
    padding-top: 10px;
  }

  a {
    padding: 0 0.5em;
    text-decoration: none;

    &:first-child {
      padding-left: 0px;
    }
  }
}

.user-about {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $light-text-color;
}
