// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TO-DO(PROFILE FORMS)
.follow-form{
  text-align: center;

  form{
    display: inline;
  }
}

// TO-DO (JOIN STATS)
.stats{
  text-align: center;

  a{
    padding: 0 0.5em;
    text-decoration: none;

    &:first-child{
      padding-left: 0;
    }
  }
}

// TO-DO (GENERAL LISTS)
.user-groups{
  margin-top: 1em;

  >*{
    margin-bottom: 0.3em;
  }
}