<h1>Sobre kultur.al</h1>

<div class="borders container normal-container">
  <p>
    Nuestra misión es facilitar la labor de las productoras en cuanto a difundir
    sus eventos, y también centralizar la búsqueda de este tipo de actividades
    para los otros usuarios. Estos eventos pueden ser:
  </p>
  <ul>
    <li>Obras de Teatro</li>
    <li>Tocatas/Conciertos</li>
    <li>Exposiciones</li>
    <li>Ferias</li>
    <li>... ¡y muchos más!</li>
  </ul>
</div>
