<h1>¡Contáctanos!</h1>

<table>
  <tr>
    <th>Nombre</td>
    <th>e-mail</td>
  </tr>
  <tr>
    <td>Jaime Castro</td>
    <td><a href="mailto:jecastro1@uc.cl">jecastro1@uc.cl</a></td>
  </tr>
  <tr>
    <td>Vicente Dragicevic</td>
    <td><a href="mailto:vrdragicevic@uc.cl">vrdragicevic@uc.cl</a></td>
  </tr>
  <tr>
    <td>Sebastián Salata</td>
    <td><a href="mailto:sasalata@uc.cl">sasalata@uc.cl</a></td>
  </tr>
</table>
