<% if !flash[:notice].nil? %>
  <div id="notice">
    <%= flash[:notice] %>
    <a class="hide-button"><%= fa_icon 'times-circle' %></a>
  </div>
<% end %>

<% if !flash[:alert].nil? %>
  <div id="alert">
    <%= flash[:alert] %>
    <a class="hide-button"><%= fa_icon 'times-circle' %></a>
  </div>
<% end %>