<% if !flash[:notice].nil? %>
  <div id="notice">
    <%= flash[:notice] %>
    <a href="" class="hide-button">X</a>
  </div>
<% end %>

<% if !flash[:alert].nil? %>
  <div id="alert">
    <%= flash[:alert] %>
    <a href="" class="hide-button">X</a>
  </div>
<% end %>